
# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Environment files
.env

# Build
/build/

# Others
*.swp
*.bak
